div.pageContent{
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;        
}

a.contactLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    color: #333333;
    padding: 1.5rem;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

a.contactLink:not(a.contactLink:last-child) {
    margin-right: 4rem;
    margin-bottom: 4rem;
}

a.contactLink:hover{
    border: 1px solid #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

h1.title{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    color: #333333;
    text-align: center;
    padding: 1rem;
    line-height: 2rem;
}

@media only screen and (max-width: 768px) {


    h1.title{
        font-size: 2rem;
    }

    a.contactLink{
        font-size: 1rem;
    }

    a.contactLink:not(a.contactLink:last-child) {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

}

@media only screen and (max-width: 600px) {

    h1.title{
        font-size: 1.5rem;
        
    }

    a.contactLink:not(a.contactLink:last-child) {
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}



@media only screen and (max-width: 460px) {

    a.contactLink:not(a.contactLink:last-child) {
        margin-right: 0;
    }
}