div.parentPage{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

div.wrapperImage{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}


h1.pageTitle{
    font-size: 3rem;
    margin: 4.5rem 0 2rem;
    letter-spacing: .5rem;
    font-weight: 200;
    cursor: default;
}

div.parentImage{
    min-height: 100vh;
    height: 100%;
    position: relative;        
}


ul.listTask{
    list-style-type: disc;
    list-style-position: inside;
    flex: 3;
}

ul.listTask * {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

div.xpTitle{
    position: absolute;
    top: 0;
    transform: translateY(-50%);    
    border-radius: 20px;    
    background-color: #505050; 
    box-shadow: 0 4px 4px rgba(0,0,0, 0.25 );        
    box-sizing: border-box;
    display: flex;
}

div.xpTitle > label{
    color: #fafafa;
    font-weight: 600;
    padding: 0.75rem 0;  
    margin: 0 1rem;    
}


div.xpIcon{
    position: absolute;
    top: 1.65rem;
    height: 46px;
    width: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;        
    right: -3.5rem;
    z-index: 10;
}

ul.xpItems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

ul.xpColA{
    margin-top: 12rem;        
}


ul.xpColA::after{
    content: " ";
    position: absolute;
    right: 0px;
    top: 6.25rem;
    height: calc(100% - 15rem);
    width: 2px;
    background-color: #707070;
    z-index: -1;
}

ul.xpColA > .xpCard::after{
    content: " ";
    position: absolute;
    left: calc(100% + 3px);
    top: 3rem;    
    width: 2.15rem;
    height: 2px;
    background-color: #707070;    
}

ul.xpColB div.xpIcon{
    right: unset;
    left: -3.75rem;
}

ul.xpColA div.xpIcon{
    z-index: 20;
}


ul.xpColB::before{
    content: " ";
    position: absolute;
    left: -2px;
    top: 6.25rem;
    height: calc(100% - 15rem);
    width: 2px;
    background-color: #707070;
    z-index: -1;
}


ul.xpColB > .xpCard::before{
    content: " ";
    position: absolute;
    left: -2.5rem;
    top: 3rem;
    width: 2.25rem;
    height: 2px;
    background-color: #707070;
}


li.xpCard{
    margin-top: 1rem;
    display: flex;
    max-width: 36rem;
    flex-direction: column;
    padding: 2rem 1.5rem 1.5rem;
    background-color: rgba(144, 144, 144, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;    
    border: 3px solid transparent;
    cursor: default;
}

div.xpCardContent{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;    
}

li.xpCard:hover{
    border: 3px solid var(--action-hover);
    position: relative;
    top: 2px;
    left: 2px;    
}

ul.listTechs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
    max-width: 15rem;
    flex: 2;
}

ul.listTechs > li {
    padding: 0.5rem 1rem 0.75rem;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: inset -2px -2px 4px rgba(0,0,0, 0.25 );
    font-size: 0.75rem;
    cursor: default;
}

ul.xpColSingle{
    display: none;
}

ul.xpColSingle::after{
    content: " ";
    position: absolute;
    right: 0px;
    top: 6.25rem;
    height: calc(100% - 15.1rem);
    width: 2px;
    background-color: #707070;
    z-index: -1;
}

ul.xpColSingle > .xpCard::after{
    content: " ";
    position: absolute;
    left: calc(100% + 3px);
    top: 3rem;
    width: 2.15rem;
    height: 2px;
    background-color: #707070;
}


@media only screen and (max-width: 1200px) {

    ul.xpColB,
    ul.xpColA{
        display: none;
    }

    ul.xpColSingle{
        display: flex;
        flex-direction: column;
    }

}


@media only screen and (max-width: 700px) {

    ul.xpColSingle::after{
        content: none;
    }

    ul.xpColSingle > .xpCard::after{
        content: none; 
    }

    div.xpIcon{
        display: none;
    }
        
}


@media only screen and (max-width: 600px) {

    div.xpCardContent{
        
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;    
    }   

    ul.listTechs{
        max-width: unset;        
    }
        
}


@media only screen and (max-width: 600px) {

    li.xpCard{                
        padding: 1.5rem; 
    }
        
        
}


@media only screen and (max-width: 500px) {
    div.xpTitle{
        position: initial;
        background-color: unset;
        box-shadow: none;        
    }

    div.xpTitle > label{
        color: #cacaca;
        font-weight: 600;
        padding: 0.5rem 0rem 0;    
        margin: 0;
        border: 0;
    }

    ul.xpItems{
        padding: 1rem;
        gap: 1rem;        
    }

    
}



@media only screen and (max-width: 400px) {

    li.xpCard{                
        padding: 1.5rem 1rem; 
    }

    
    

    
}
